*{

}
@font-face{
    font-family: Ruda;
    src: url(Ruda/static/Ruda-Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ruda', sans-serif;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.navbar {
    height: 70px;
    width: 100%;
    background: black;
    color: white;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.Logo_2 {
    font-family: 'Spartan', sans-serif;
    font-size: 3.2em;
    color: white;
    text-shadow: 1px 1px 2px var(--text);
    margin: 12px 30px 5px 12px;
}

header {
    padding: 1em;
    background: #33cc33;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    background: var(--bg-nav);
    text-align: center;
    /*Editable in Firefox*/
    clip-path: polygon(50% 0%, 100% 0px, 100% 65%, 50.86% 119.86%, 0px 65%, 0px 0px);
}

.dropdown{
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-color);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;

    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-40%);

    transition: opacity .16s ease-out;
}

.has-dropdown:focus-within .dropdown{
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: '';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle; 
    margin-right: 10px;
}

:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --green: #33cc33;
    --blue: #000066;
    --purple: #a82dd1;
    --yellow: #fff565;
}


.light {
    --bg: var(--gray0);
    --bg-nav:  linear-gradient(to right, var(--gray1), var(--green));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}

.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}

/*Overides predefined colors*/

.solarize {
    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
    --green: #33cc33;
    --blue: #000066;
    --purple: #a82dd1;
    --yellow: #fff565;
}

main p, main h3 {
    margin: 0em 2em 2em 2em;
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}

h3::after{
    content:':';
}