/*The grid below will be used to style the footer*/
#a {grid-area: a;}
#b {grid-area: b;}
#c {grid-area: c;}
#d {grid-area: d;}
#e {grid-area: e;}
#f {grid-area: f;}


/*The layout between the first and second row*/
#grid {
	display: grid;
	grid-template-areas: 
		"a a a a"
		"b c d e";
	grid-row-gap: 1rem;
}

/*If the screen size is below 512px*/
@media (max-width: 512px) {
	#grid {
		grid-template-areas: 
			"a a a"
			"b c d"
			"e e e";
	}
}